<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-header"> 
          <h4 class="m-b-0"><span class="lstick"></span>{{maison.nom | uppercase}}</h4>
                                        <a class="btn-minimize" (click)="editMaison(maison.id)"><i class="ti-pencil-alt2"></i></a>
                                        <a class="btn-close" (click)="deleteMaison(maison.id)"><i class="ti-trash"></i></a>
        </div>
        <div class="card-body">
          <div *ngFor="let etage of maison.etages">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
              <ngb-panel title="{{etage.nom}}" id="ngb-panel-0">
                <ng-template ngbPanelContent>
                                        <a class="btn-minimize" (click)="editEtage(maison.id, etage.id)"><i class="ti-pencil-alt2"></i></a>
                                        <a class="btn-close" (click)="deleteEtage(maison.id, etage.id)"><i class="ti-trash"></i></a>
                  <div *ngFor="let piece of etage.pieces; let j = index; trackBy:trackByIndex">
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
                      <ngb-panel title="{{piece.nom}}" id="ngb-panel-0">
                        <ng-template ngbPanelContent>
                                        <a class="btn-minimize" (click)="editPiece(maison.id, etage.id, piece.id)"><i class="ti-pencil-alt2"></i></a>
                                        <a class="btn-close" (click)="deletePiece(maison.id, etage.id, piece.id)"><i class="ti-trash"></i></a>
                          <div class="row">
                            <div *ngFor="let objetpiece of piece.objetpiece; let i = index; trackBy:trackByIndex" class="card card-outline-inverse col-sm-6 col-md-4">
                                <div class="card-header">
                                  <div class="m-b-0 text-white">
                                    {{objetpiece.objet.nom}}
                                    <div class="card-actions">
                                        <a class="btn-minimize" (click)="showParametrage(maison.id, etage.id, piece.id, objetpiece)"><i class="ti-pencil-alt2"></i></a>
                                        <a class="btn-close" (click)="deleteObjet(maison.id, etage.id, piece.id, objetpiece.id)"><i class="ti-trash"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <img src="{{objetpiece.objet.image}}" class="img-fluid" />
                                    </div>
                                    <div class="col" *ngIf="objetpiece.objet.attribut_objet.etat" class="text-center">
                                        <p>État</p>
                                        <label class="switch">
                                            <input type="checkbox" [checked]="objetpiece.valeurs_objet.val_etat ? 'checked' : null"  (change)="onChangeEtat(maison.id, etage.id, piece.id, objetpiece, $event)">
                                            <span class="slider rounds"></span>
                                        </label>
                                        <div *ngIf="objetpiece.objet.attribut_objet.slider">
                                          <p>{{objetpiece.objet.attribut_objet.slider.lib_slider}}</p>
                                          <input type="range" value="{{objetpiece.valeurs_objet.val_slider}}" min="{{objetpiece.objet.attribut_objet.slider.min_slider}}" max="{{objetpiece.objet.attribut_objet.slider.max_slider}}" (change)="test(maison.id, etage.id, piece.id, objetpiece, $event)" (input)="onSliderChange(objetpiece, $event)"/>
                                          <p class="lead">{{slider[i] ? slider[i] : objetpiece.valeurs_objet.val_slider}}{{objetpiece.objet.attribut_objet.slider.unite_slider}}</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="card bg-light-inverse col-sm-6 col-md-4">
                              <div class="card-body text-center font-weight-bold">
                                <a class="btn" (click)="addObjetPiece(maison.id, etage.id, piece.id)">
                                  <h3 class="card-title">Ajouter un objet</h3>
                                  <div class="fa-5x">
                                    <i class="fa fa-plus-circle"></i>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
  </div>
</div>