<div class="modal-header">
    <h4 class="modal-title">Programmation de l'objet : {{objetPiece.objet.nom}} dans la pièce : {{objetPiece.piece.nom}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="parametrageForm" class="form-material" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <div class="card card-outline-inverse">
              <div class="card-header">
                <div class="m-b-0 text-white text-center">
                  {{objetPiece.objet.nom}}
                  <img src="{{objetPiece.objet.image}}" class="img-fluid" />
                </div>
              </div>
          </div>
        </div>
          <div class='col-sm-8 col-md-9'>
              <div *ngIf="objetPiece.objet.attribut_objet.etat" class="text-center">
                <p>État</p>
                <label class="switch">
                    <input type="checkbox" formControlName="f_etat">
                    <span class="slider rounds"></span>
                </label>
                <div *ngIf="objetPiece.objet.attribut_objet.slider">
                  <p>{{objetPiece.objet.attribut_objet.slider.lib_slider}}</p>
                  <input type="range" formControlName="f_slider" value="{{objetPiece.objet.attribut_objet.slider.min_slider}}" min="{{objetPiece.objet.attribut_objet.slider.min_slider}}" max="{{objetPiece.objet.attribut_objet.slider.max_slider}}"  (input)="onSliderChange($event)"/>
                  <p class="lead">{{slider ? slider : 0}}{{objetPiece.objet.attribut_objet.slider.unite_slider}}</p>
                </div>
                <div class="row">
                    <div class='col'>
                        <p>Heure</p>
                        <input class='form-control' formControlName="f_heure" type='time' />
                    </div>
                    <div class='col'>
                        <p>Jours</p>
                        <select class='form-control' formControlName="f_jours" multiple>
                            <option>Lundi</option>
                            <option>Mardi</option>
                            <option>Mercredi</option>
                            <option>Jeudi</option>
                            <option>Vendredi</option>
                            <option>Samedi</option>
                            <option>Dimanche</option>
                        </select>
                    </div>
                </div>
            </div>
          </div>
      </div>
        <div class="text-center mb-3 mt-3">
            <button type="submit" [disabled]="parametrageForm.pristine" class="btn btn-outline-dark">Enregistrer</button>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let parametre of parametres" class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <p>État {{ parametre.val_etat ? parametre.objet_piece.objet.attribut_objet.etat.lib_etat_oui : parametre.objet_piece.objet.attribut_objet.etat.lib_etat_non}} à {{parametre.heure}} le(s) {{parametre.jour}}</p>
                            <p *ngIf="parametre.objet_piece.objet.attribut_objet.slider">{{parametre.objet_piece.objet.attribut_objet.slider.lib_slider}} : {{parametre.val_slider}}{{parametre.objet_piece.objet.attribut_objet.slider.unite_slider}}</p>
                        </div>
                        <div class="col">
                            <a class="btn-close" (click)="onDeleteParametre(parametre.id)">
                                <i class="ti-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
