/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/scss/icons/font-awesome/fonts/ubuntu-light-webfont.woff') format('woff'), url('assets/scss/icons/font-awesome/fonts/ubuntu-light-webfont.ttf') format('truetype');
    
}

html, body {
    font-family: 'Ubuntu' !important;
}

.add-objet-i:hover {
    color: blue !important;
}

.database-plus {
    display: inline-block;
}

.database-plus:hover {
    color: white;
    cursor: pointer;
    display: inline-block;
}

.input-objet {
    font-size: 12px !important;
}

.objet-to-delete {
    display: inline-block !important;
}

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
